.container {
    padding: 5px 10px;
    background-color: rgb(64, 56, 56);
    border-color: #c1ab5d;
    border-width: 5px;
    border-style: solid;
    border-radius: 16px;
}

.row {
    margin: 5px 0;
    color: #cccccc;
    font-size: 12px;
}

.mail {
    display: inline;
    color: #cccccc;
    font-size: 12px;
}

.page_title {
    color: #cccccc;
    font-size: 14px;
}

.caption {
    color: #cccccc;
    font-size: 12px;
}

.value {
    color: #cccccc;
    font-size: 13px;
}

.link {
    color: #cccccc;
    font-size: 13px;
}
