.container {
  font-size: 11px;
}

.blesses_fire {
  color: #d55a3b;
}

.blesses_air {
  color: #d3bec6;
}

.blesses_water {
  color: #806aff;
}

.blesses_earth {
  color: #b08130;
}

.blesses_astral{
  color: #b0dbd6;
}

.blesses_death {
  color: #a550a8;
}

.blesses_nature {
  color: #4d9533;
}

.blesses_blood {
  color: #bd4e49;
}
