.container {
    border-color: #c1ab5d;
    border-width: 4px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: #eeeeee;
    font-size: 14px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #403838;
    width: 100%;
    z-index: -1;
}
