.container {
    color: #eeeeee;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 3px;
}

.picker {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 2px 2px;
    border-width: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
}

.label {
    font-size: 12px;
    padding: 2px 6px;
    font-family: monospace;;
    display: block;
    font-size: 12px;
    font-family: inherit;
    border-width: 0;
    cursor: default;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
}

.input {
    color: #eeeeee;
    font-size: 15px;
    font-weight: normal;
    font-family: monospace;
    width: 2.5em;
    background-color: inherit;
    border-width: 0;
    text-align: center;
    margin-right: 0;
    padding-right: 0;
    width: 20px;
}
