.container {
  color: #eeeeee;
  font-size: 11px;
}
.fire {
  color: #d55a3b;
}
.air {
  color: #d3bec6;
}
.water {
  color: #806aff;
}
.earth {
  color: #b08130;
}
.astral{
  color: #b0dbd6;
}
.death {
  color: #a550a8;
}
.nature {
  color: #4d9533;
}
.blood {
  color: #bd4e49;
}
