.row {
    background: linear-gradient(#3f4142, #3d3940);
}

.scales {
    font-size: 10px;
    background: linear-gradient(#3f4142, #3d3940);
}

.name {
    font-size: 12px;
    background: linear-gradient(#3f4142, #3d3940);
}

.description {
    font-size: 10px;
    word-wrap: break-word;
    background: linear-gradient(#3f4142, #3d3940);
}

.incarnate {
    font-size: 10px;
    text-align: center;
    background: linear-gradient(#3f4142, #3d3940);
}
