.picker {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 2px 2px;
}

.picker_scale {
    @extend .picker;
    flex-flow: column;
    margin: 2px 1px;
}
.label {
    font-size: 12px;
    padding: 2px 6px;
    font-family: monospace;;
    display: block;
}
.label_scale {
    @extend .label;
    font-size: 10px;
    padding: 2px;
}

.input {
    color: #eeeeee;
    font-size: 17px;
    font-weight: normal;
    font-family: monospace;
    width: 2.5em;
    background-color: inherit;
    border-width: 0;
    text-align: center;
}

.input_scale {
    @extend .input;
    padding: 0;
    width: 2.4em;
    margin: 0 0 3px 0;
}

.button {
    font-size: 12px;
    font-weight: normal;
    font-family: monospace;
    text-align: center;
    padding: 3px;
    margin: 3px;
    //background-color: #8f9192;
}
@media (min-width: 750px) {
    .button {
        display: none;
    }
}
