.bless_effects_row {
    background: linear-gradient(#3f4142, #3d3940);

}

.bless_effects__points_cell {
    font-size: 11px;
    color: #cccccc;
    text-align: center;
    background: linear-gradient(#3f4142, #3d3940);
}

.bless_effects__scales_cell {
    background: linear-gradient(#3f4142, #3d3940);
}

.bless_effects__name_cell {
    font-size: 12px;
    background: linear-gradient(#3f4142, #3d3940);
}

.bless_effects__description_cell {
    font-size: 10px;
    word-wrap: break-word;
    background: linear-gradient(#3f4142, #3d3940);
}

.bless_effects__incarnate_cell {
    text-align: center;
    background: linear-gradient(#3f4142, #3d3940);
}
