.footer {
    padding: 5px 10px;
    background-color: rgb(64, 56, 56);
    border-color: #c1ab5d;
    border-width: 5px;
    border-style: solid;
    border-radius: 16px;
}

.footer__row {
    
}

.footer__page_title {
    color: #cccccc;
    font-size: 14px;
}

.footer__caption {
    color: #cccccc;
    font-size: 12px;
}

.footer__value {
    color: #cccccc;
    font-size: 13px;
}

.footer__link {
    color: #cccccc;
    font-size: 13px;
}
