
.pretenders-table {
    font-size: 12px;
    color: #cccccc;
}

.pretenders-table__header {
    font-size: 10px;
}

.pretenders-table__cell {
    padding: 1px;
    font-size: 11px;
    text-align: center;
    background: linear-gradient(#3f4142, #3d3940);
}

.pretenders-table__cell--name {
    text-align: left;
}

.pretenders-table__cell--id {
    font-size: 8px;
}

.pretenders-table__text--magic {
    color: #eeeeee;
    font-size: 11px;
    font-weight: normal;
    font-family: monospace;
    padding: 0 1px;
}

.pretenders-table__cell--fire {
    background-image: none;
    background-color: #b03523;
}

.pretenders-table__cell--air {
    background-image: none;
    background-color: #a38e96;
    color: #f6f6f6;
}

.pretenders-table__cell--water {
    background-image: none;
    background-color: #331d98;
}

.pretenders-table__cell--earth {
    background-image: none;
    background-color: #b08130;
    color: #f6f6f6;
}

.pretenders-table__cell--astral {
    background-image: none;
    background-color: #709b96;
    color: #f6f6f6;
}

.pretenders-table__cell--death {
    background-image: none;
    background-color: #701b63;
}

.pretenders-table__cell--nature {
    background-image: none;
    background-color: #3d7523;
}

.pretenders-table__cell--blood {
    background-image: none;
    background-color: #7d1b16;
}
