.container {
    padding: 2px;
    margin: 2px;
}

.heat {
    font-size: 11px;
    color: #eeeeee;
    padding: 0;
    margin: 0;
}

.growth {
    font-size: 11px;
    color: #eeeeee;
    padding: 0;
    margin: 0;
}
