.container {
    color: #eeeeee;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3px;
    flex-flow: column;
}

.body {
    color: #eeeeee;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 3px;
}

.option {
    color: #eeeeee;
    font-size: 13px;
}
.option_era_0 {
    @extend .option;
    background-color: #eeeeee;
    color: #222222;
}

.option_era_1 {
    @extend .option;
    background-color: #888888;
    color: #eeeeee;
}

.option_era_2 {
    @extend .option;
    background-color: #111111;
    color: #bbbbbb;
}
