.nation_scales_info {
    padding: 2px;
    margin: 2px;
}
.nation_scales_info__heat {
    font-size: 11px;
    color: #eeeeee;
    padding: 0;
    margin: 0;
}

.nation_scales_info__growth {
    font-size: 11px;
    color: #eeeeee;
    padding: 0;
    margin: 0;
}
