.generate-button {
    height: 50px;
    width: 200px;
    background-color: #d9cca7; /* grey         */
    font-family: 'SeshatRegular', serif;
    /* border: 1px solid #a67d65; /\* brown        *\/ */
    border-width: 1px;

}
